:root {
  /* color */
  --yellow: #fae100;
  --basic: rgba(0, 0, 0, 0.8);
  --notification: #999999;

  /* padding */
  --horizontal-space: 30px;

  /* border */
  --main-border: 1.5px solid #dedede;
}