.entrance {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.entrance input {
  padding: 20px 0px;
  border: none;
  font-size: 18px;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 25px; 
  border-radius: 0;
}

.entrance input:not([type="submit"]) {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
  transition: border-color .3s ease-in-out;
}

.entrance input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.entrance input:focus {
  border-color: var(--yellow);
}

.entrance button {
  background-color: var(--yellow);
  cursor: pointer;
  border-radius: 4px;
  padding: 20px 0px;
  border: none;
  font-size: 17px;
  margin-bottom: 25px;
  font-weight: 500;
}

.entrance a {
  text-align: center;
  color: inherit;
  font-size: 14px;
}
