/* friends list */

.friends-screen {
  padding: 0px var(--horizontal-space)
}

#friends-screen__channel-list {
  border-top: 1px solid #ebebeb;
  display: flex;
  margin-top: 18px;
  margin-bottom: 12px;
  padding: 12px 0px;
  justify-content: space-between;
}

#friends-screen__channel-list * {
  color: var(--notification);
}

/* friends display */

.friends-display {
  display: block;
  text-align: center;
  padding: 20px 0px;
  background-color: #fafafa;
  color: var(--basic);
  font-weight: 500;
  margin-bottom: 10px;
}

.friends-display i {
  color: #d6d6d6;
}