.nav {
  background-color: #f9f9fa;
  padding: 20px 90px;
  border-top: 1px solid #ebebeb;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav__list{
  display: flex;
  justify-content: space-between;
}


.nav__link {
  color: #2e363e;
  position: relative;
  }

.nav__link__comment-bedge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  font-size: 13px;
  font-weight: 600;
  left: 20px;
  bottom: 17px;
}

.nav__link__ellipsis-bedge {
  background-color: tomato;
  display: flex;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
  left: 35px;
}