.title-bar {
  display: flex;
  padding: 25px 28px;
  width: 100%;
  border: 1px solid ba;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.title-bar__title {
  font-size: 32px;
  font-weight: 600;
}

.title-bar__icon i {
  position: relative;
  margin-left: 28px;
  font-size: 24px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg)
  }
}

.title-bar a i:hover {
  animation: rotateCog 3s linear infinite;
}


