/* profile part */

.user-component {
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__photo {
  margin-right: 18px;
  width: 70px;
  height: 70px;
  border-radius: 30px;
}

.user-component__subtitle {
  color: var(--notification);
  font-size: 19px;
  margin-top: 8px;
}

.user-component__name {
  font-size: 24px;
  font-weight: 600;
  }

.user-component__address {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.user-component__number {
  color: var(--notification);
}
.user-component__address svg {
  color: red;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

/* notification */

.user-component__chats-time,
.user-component__list {
  color: var(--notification);
}

.user-component__chats-time {
  display: block;
  margin-bottom: 10px;
}



/* modified class = modifier */

.user-component__photo--xl {
  width: 80px;
  height: 80px;
  border-radius: 33px;
}

.user-component__name--light {
  font-size: 23px;
  font-weight: 450;
}

.user-component__photo--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}


